button {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

button.ban {
    background-color: red;
}

button.unban {
    background-color: green;
}

button.delete {
    background-color: #555;
}
