
table {
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    background-color: #ffffff;
    color: #5c5530;
}

th, td {
    padding: 12px;
    border: 1px solid #dddddd;
}

th {
    background-color: #7e7441;
    color: white;
    cursor: pointer;
}

th:hover {
    background-color: #5ca03a;
}

.stock-item-link {
    color: #5c5530;
    font-weight: bold;
}

.stock-item-link:hover {
    color: #74bf4e;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    background-color: #5ca03a;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #74bf4e;
}

.pagination .active {
    background-color: #74bf4e;
}

.pagination .disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.loading, .error {
    text-align: center;
    font-size: 1.2rem;
    color: #7e7441;
}
