<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main>
        <header th:include="@{/fragments/header.html}"></header>
        <div class="content">
            <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${fail}" th:text="${fail}"></div>
            <h1>Menu</h1>
            <form th:action="@{/restaurant/menu/1}" method="get">
                <input type="text" name="searchedCategory" placeholder="Enter a category"/>
                <input type="number" name="searchedPrice" placeholder="Enter a price"/>
                <button type="submit" class="btn btn-primary">Filter</button>
                <a class="btn btn-primary" th:href="@{/restaurant/menu/1}">Reset</a>
                <a class="btn btn-danger" th:href="@{/restaurant/add-dish}">Add</a>
            </form>
            <table class="table table-dark">
                <thead>
                <tr>
                    <!--/restaurant/menu/1/?sortField=id&&sortDirection=reverseSortDirection-->
                    <th scope="col">
                        <a th:href="@{'/restaurant/menu/' + ${currentPage} + '?sortField=id&&sortDirection=' + ${reverseSortDirection}}">ID</a>
                    </th>
                    <th scope="col">
                        <a th:href="@{'/restaurant/menu/' + ${currentPage} + '?sortField=name&&sortDirection=' + ${reverseSortDirection}}">NAME</a>
                    </th>
                    <th scope="col">
                        <a th:href="@{'/restaurant/menu/' + ${currentPage} + '?sortField=category&&sortDirection=' + ${reverseSortDirection}}">CATEGORY</a>
                    </th>
                    <th scope="col">
                        <a th:href="@{'/restaurant/menu/' + ${currentPage} + '?sortField=price&&sortDirection=' + ${reverseSortDirection}}">PRICE</a>
                    </th>
                    <th scope="col" colspan="2">Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dish:${dishes}">
                    <th scope="row" th:text="${dish.id}"></th>
                    <td th:text="${dish.name}"></td>
                    <td th:text="${dish.category}"></td>
                    <td th:text="${dish.price}"></td>
                    <td>
                        <a th:href="@{/restaurant/delete/{id} (id=${dish.id}) }" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    <td>
                        <a th:href="@{/restaurant/update/{id} (id=${dish.id}) }" class="btn btn-danger btn-sm">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--pagination info-->
        <div class="pagination" th:if="${totalPages}">
            <div class="pagination-info">
                <div>Total Dishes: <span th:text="${totalItems}"></span></div>
                <div>Current Page: <span th:text="${currentPage}"></span></div>
                <div>Total Pages: <span th:text="${totalPages}"></span></div>
            </div>
            <div class="pagination-no">
                <div th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <!--/restaurant/menu + i-->
                    <!--/restaurant/menu/1/?sortField=id&&sortDirection=-->
                    <div><a th:href="@{'/restaurant/menu/' + ${i} + '?sortField=' + ${sortField} + '&&sortDirection=' + ${sortDirection}}" th:text="${i}"></a></div>
                </div>
            </div>
        </div>

        <footer th:include="@{/fragments/footer.html}"></footer>
    </main>
</body>
</html>